<div class="container">
  <div class="container clearfix">
    <div class="edu-categories-search row">
      <%= link_to t(".add"), "#", class: "btn btn-primary",
        data: {toggle: "modal", target: "#newCategoryModal"} %>
      <%= render "search_form", query_categories: @query_categories %>
    </div>
    <div class="table-responsive" id="list_education_categories">
      <%= render "list", categories: @categories %>
    </div>
  </div>
</div>
<%= render "new_category", category: @category %>
