<div class="col-md-4">
   <div class="product">
      <div class="img">
         <%= image_tag product.pictures.first.name.url %>
      </div>
      <div class="information">
         <%= link_to product.name, edit_product_path(product)%>
         <br>
         <%= product.price %>
         <br>
          <a class="btn btn-success" href="#">Add to cart</a>
         <br>
         <%= product.category_name %>
      </div>
   </div>
</div>
