<div class="col-md-4">
   <div class="product">
      <div class="img">
          
      </div>
      <div class="information">
         <a class="header">
         
         <%= product.name %></a>
         <br>
         <%= product.price %> 
         <br>
          <a class="btn btn-success" href="#">Add to cart</a>
         <br>
         <%= product.status %>
      </div>
   </div>
</div>
