<div class ="main">
   <div class="body container-fluid">
      <div class="col-md-3">
         <h3 class="title"><%= link_to "PRODUCT", products_path %></h3>
         <div class="sidebartotal">
            <div class="sidebar">
               <ul class="">
                  <li class="filter-products">FILTER PRODUCTS</li>
                  <li>CATEGORY</li>
                     <% @categories.each do |category| %>
                  <li class="content-id"><%= link_to category.name, products_path(category_id: category.id) %>
                  </li>
                  <% end %>
               </ul>
            </div>
         </div>
      </div>
      <div class="col-md-9 content">
         <%= render @products %>
      </div>
      <div class="next-page">
      </div>
   </div>
</div>
