<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<footer>
   <div class="container">
      <div class="row">
         <div class="col-md-3">
            <ul>
               <li>
                  <h4><b>Main Menu</b></h4>
               </li>
               <a href="/home">
                  <li>Home</li>
               </a>
               <a href="/products">
                  <li>Product </li>
               </a>
               <a href="/designs">
                  <li>Design</li>
               </a>
               <a href="/abouts">
                  <li>About</li>
               </a>
               <a href="/contacts">
                  <li>Contact</li>
               </a>
            </ul>
         </div>
         <div class="col-md-3">
            <ul>
               <li>
                  <h4><b>Made in America</b></h4>
               </li>
               <li>All of our products are proudly made right here in America</li>
            </ul>
         </div>
         <div class="col-md-3">
            <ul>
               <li>
                  <h4><b>Here to Help</b></h4>
               </li>
               <li>If you need help setting up your new furniture. we are glad to lend a hand</li>
            </ul>
         </div>
         <div class="col-md-3">
            <ul>
               <li>
                  <h4><b>Keep in Touch</b></h4>
               </li>
               <li>Sign up for our newsletter and be the first to knoww about coupons and special promotions</li>
            </ul>
               <div class="link_to">
                  <a href="http://facebook.com/quancoi1995"><span class="fa fa-facebook" style="color: blue;"></span>
                  </a>
                  <a href="http://mail.google.com"><span class="fa fa-google-plus" style="color: red;"></span>
                  </a>
                  <a href="http://www.youtube.com/channel/UCOR5-w-RXIioLGqj3x2-sCQ"><span class="fa fa-youtube" style="color: red;"></span>
                  </a>
               </div>
         </div>
      </div>
   </div>
</footer>
